.venv/
__pycache__/
*.pyc
.cache/
.home/
/*.osm.pbf
rmba_stats.csv
data/sources/
data/tile_weights.tsv.gz
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
output/*
!output/.gitkeep
